/*body {
	background-color: black;
	color: white;
}*/
div {
	overflow: hidden;
}

h3 {
	margin: 0;
}

img {
	max-width: 100%;
}






/*#footer {
	height: 140px;
	background-color: black;
	color: white;
	margin: 0;
	padding: 10px;
	background-color: black;
	color: white;
}

#left-footer {
	float: left;
}

#right-footer {
	float: right;
}*/

#map {
	height: 400px;
    width: 100%;
    /*background-color: gray;*/
}


.imgs {
	width: 100%;
	height: 340px;
}

.imgs-2 {
	width: 100%;
	height: 250px;
	border-radius: 15px;
}

.div-main {
	text-align: justify;
	line-height: 150%; /*spacing between paragraphs*/
	margin-top: 5px;
}

.div-img{
	width: 400px;
	margin: 15px 5px 15px 35px;
	/*margin-left: 35px;
	margin-right: 5px;
	margin-bottom: 15px;*/
}

.flag {
	width: 60px;
	height: 30px;
}

.page-header {
	background: #e8edb6;/*#96E3A0;*//*#688994;*/
	text-align: center;
	margin: 0;
	padding-top: 1px;
	padding-bottom: 3px;
}

.navbar {
	margin: 0;
}

.footer {
	background: black;
	color: white;
	text-align: center;
	height: 140px;
	max-height: 100%;
	padding: 10px;
}

/*.row {
	background: pink;
}*/

/*
For mobile devices purpose

img {
	max-width: 100%;
}

If your images are set as background images and not as img tags, simply set 
the background-size CSS property to contain. This will cause the background 
image to resize when the screen is too small.

.header {
  background: url(header.png) 50% no-repeat;
  background-size: contain
}


input, textarea {
  max-width:100%
}

*/